# Licse Sets
LICSE_DEBUG=True
# Debug mode
LICSE_ENV="development"
# Environment: development - production
LICSE_VER="0.1 cub"
# Version of Licse
LICSE_ALLOWED_EMAIL_DOMAINS="@gmail.com @hotmail.com @yahoo.com"
# Email domains allowed for registration - Separated by space - Prevent email abuse
LICSE_TIMEZONE="America/Sao_Paulo"
# Fuso horário do servidor

LICSE_AI_ADMIN_EMAIL=""
# Usuário escolhido para ser o administrador do sistema, crie ele e em seguida defina-o aqui
LICSE_AI_ADMIN_PASSWORD=""
# Senha do usuário acima
LICSE_AI_LANGUAGE="pt"
# Idioma de trabalho da Licse AI

#### #### #### ####

# Firebase setup
LICSE_FIREBASE_API_KEY=""
# apiKey

LICSE_FIREBASE_AUTH_URL="" 
# authDomain

LICSE_FIREBASE_PROJECT_ID="" 
# projectId

LICSE_FIREBASE_STORAGE_BUCKET_URL="" 
# storageBucket

LICSE_FIREBASE_MESSAGE_ID="" 
# messagingSenderId

LICSE_FIREBASE_API_ID="" 
# appIdf

LICSE_FIREBASE_RTDB_URL="" 
# databaseURL



