@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
:root{
    --background-dark-color: rgb(28, 29, 36);
    --background-light-color: rgb(242, 244, 248);
    --text-dark-color: rgb(62, 58, 80);
    --text-light-color: rgb(226, 232, 243);
    --accent-color: rgb(118, 65, 217);
    --current-background-color: var(--background-dark-color);
    --current-text-color: var(--text-light-color);
    --border-line: rgb(85, 86, 105);
}

html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    background-color: var(--current-background-color);
    background-image: url("../source/backgrounds/background_alt.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

h1{
    font-weight: 900;
}

h3{
    font-weight: 400;
}

button{
    cursor: pointer;
    padding: 12px 17px 12px 17px;
    background-color: var(--accent-color);
    border-radius: 32px;
    border: none;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}button:hover{
    border-radius: 4px;
    translate: 0px -4px;
}

p{
    font-size: 9pt;
    font-weight: 200;
    opacity: 0.5;
}

a{
    text-decoration: none;
    
}a:visited{
    color: var(--current-text-color);
}a:hover{
    opacity: 0.5;
}

*{
    text-align: center;
    font-family: 'Geologica', sans-serif;
    color: var(--current-text-color);
    transition-duration: 0.3s;
}

.allScreen{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

iframe{
    margin: -16px;
    padding: -16px;
}

.flex{
    display: flex;
}

.columnFlex{
    flex-direction: column;
}

.absoluteCenterFlex{
    justify-content: center;
    align-items: center;
}

.expand{
    flex: 1;
    width: 100%;
}

.scrollVerticalOver{
    overflow-y: scroll;
}

nav{
    background-color: var(--text-dark-color);
    position: fixed;
    width: 100%;
    height: 58px;
    display: flex;
    flex-direction: row;
    top: 0px;
    left: 0px;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    border-bottom: solid 1px var(--border-line);
    gap: 8px;
}

.navComp{
    height: 58px;
}

.centerFlex{
    justify-content: center;
    align-items: center;
}

#swagger_ui{
    background-color: #27232e4e;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom,
        transparent,
        var(--user-color),
        transparent);
    
    border-radius: 6px;
}